selenium==3.141.0
wikipedia==1.4.0
SpeechRecognition==3.8.1
pyttsx3==2.90
pipwin==0.5.1
pyjokes==0.6.0
pytube==11.0.1
playsound==1.2.2
opencv-python==4.5.3.56
PyAutoGUI==0.9.53 
pygame==2.0.1
./PyAudio-0.2.11-cp39-cp39-win_amd64.whl